@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  font-family: "Oswald", sans-serif;
  margin: 50px;
  background-color: #faf9f6;
  min-height: 95vh;
}

.logo img {
  width: 120px;
  margin-bottom: 20px;
}

.heading {
  font-size: 5rem;
  font-weight: 200;
  margin: 20px 0;
}

.heading .creative {
  color: midnightblue;
}

.box-wrapper {
  white-space: nowrap;
  font-size: 0; 
}

.card {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: 20px 2.5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  white-space: normal;
  text-align: justify;
}

.pic-one, .pic-two {
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 20px;
}

h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 0;
}

.foot {
  clear: both;
  text-align: right;
  color: midnightblue;
  margin-top: 40px;
}

@media (max-width: 680px) {
  .logo img {
    width: 100px;
  }

  .heading {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .pic-one, .pic-two {
    width: 100%;
    height: auto;
    float: none;
    display: block;
    margin: 0 0 10px 0;
    object-fit: cover;
  }
}
